body
{background-color: rgb(100, 100, 100);
color: rgba(116, 114, 107, 0);
font-size: 40px;}
h1{
    color: rgb(97, 218, 218);
}
p{
    color: rgb(97, 218, 218);
}
div{
    background-color: rgb(167, 167, 167);
    padding: 30px;
    border-style: dotted;
    border-width: 10px;
    border-color: black;
    margin: 400px;
    border-radius: 300px;
    img{ border-radius: 300px;}
}