.container{
    display:flex;
    background-color:cornflowerblue;
    flex-direction: row;
}

.container div{
    background-color: brown;
    margin: 10px;
    padding: 10px;
    font-size: 20px;

}

img{
    width: 100%;
}

@media(max-width:600px) {
    .container{
        flex-direction: column;
    }

}