body{
    background-color:cadetblue;
}

header{
    background-color:crimson;
    padding: 2px;
}
nav{
    background-color:coral;
    padding: 2px;
}

div{
    background-color:darkgoldenrod;
    padding: 2px;
}

footer{
    background-color:firebrick;
    padding: 2px;
}
.fa{
    color:beige;
    padding: 2px;

 }